<nav class="navbar navbar-expand-md navbar-light" style="background-color: #dbedf0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">coco-sche</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            新規作成
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">予定を追加する</a></li>
            <li><a class="dropdown-item" href="#">講義を追加する</a></li>
            <li><a class="dropdown-item" href="#">課題を追加する</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <button class="btn btn-light mr-3" type="button">Today</button>
        </li>
      </ul>
      <%#<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>%>
    </div>
  </div>
</nav>